{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_helloworld()
 *
 * @ingroup themeable
 */
#}
<div class="helloworld">
{% for item in source_text %}
  <p>{{ item }}</p>
{% endfor %}
</div>
